{% if editmode %}
    Title
    <h4>{{ pimcore_input('title',{ "placeholder": "Content Title"}) }}</h4>
    Description
    <h4>{{ pimcore_input('description',{ "placeholder": "Content Description"}) }}</h4>
{#    {% for i in pimcore_block('contentblock').iterator %}#}
{#        {% if editmode %}#}
{#            SAMUEL#}
{#        {% endif %}#}
{#        <h4>{{ pimcore_input('name',{ "placeholder": "Owner Name"}) }}</h4>#}
{#        <h4>{{ pimcore_input('bussiness_name',{ "placeholder": "Business Name"}) }}</h4>#}
{#        <h4>{{ pimcore_wysiwyg('testimony',{ "placeholder": "Testimony"}) }}</h4>#}
{#    {% endfor %}#}
{% else %}
    <div class="elementor-element elementor-element-e1bb1c9 e-flex e-con-boxed e-con e-parent" data-id="e1bb1c9" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-e92bf52 elementor-widget elementor-widget-heading" data-id="e92bf52" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">
                        {{ pimcore_input('title') }}
                    </h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-8ce22d0 elementor-widget elementor-widget-text-editor" data-id="8ce22d0" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <p>
                        {{ pimcore_input('description') }}
                    </p>
                </div>
            </div>
            <div class="elementor-element elementor-element-c635c92 elementor-pagination-type-bullets elementor-pagination-position-outside elementor-widget elementor-widget-loop-carousel e-widget-swiper" data-id="c635c92" data-element_type="widget" data-settings="{&quot;template_id&quot;:113904,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:16,&quot;sizes&quot;:[]},&quot;_skin&quot;:&quot;post&quot;,&quot;slides_to_show&quot;:&quot;3&quot;,&quot;slides_to_show_tablet&quot;:&quot;2&quot;,&quot;slides_to_show_mobile&quot;:&quot;1&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;edit_handle_selector&quot;:&quot;.elementor-widget-container&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;offset_sides&quot;:&quot;none&quot;,&quot;pagination&quot;:&quot;bullets&quot;,&quot;image_spacing_custom_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;image_spacing_custom_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="loop-carousel.post" aria-roledescription="carousel" aria-label="Carousel | Horizontal scrolling: Arrow Left &amp; Right">
                <div class="elementor-widget-container">
                    <link rel="stylesheet" href="https://koinworks.com/wp-content/plugins/elementor-pro/assets/css/widget-loop-builder.min.css"> <div class="swiper elementor-loop-container elementor-grid swiper-initialized swiper-horizontal swiper-pointer-events" dir="ltr">
                        <div class="swiper-wrapper" aria-live="off" id="swiper-wrapper-6f50db3a4cb710840" style="transition-duration: 0ms; transform: translate3d(-3468px, 0px, 0px);"><div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-89366 post-89366 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories swiper-slide-duplicate" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="4 / 6" data-swiper-slide-index="3" style="width: 369.333px; margin-right: 16px;" aria-hidden="true" inert="">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">M. Ridha Indradewa</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Rewash </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Pasti saya akan merekomendasikan kepada kolega saya karena sangat membantu dan memudahkan operasional bisnis saya. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/m-ridha-indradewa-rewash/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-89358 post-89358 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories swiper-slide-duplicate" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="5 / 6" data-swiper-slide-index="4" style="width: 369.333px; margin-right: 16px;" aria-hidden="true" inert="">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Aditya Farkhaan</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Daging Mania </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Fitur Payment Link ini sudah sangat mengubah habit pembeli saya, karena saya enggak perlu ribet kasih tau berapa biayanya dan sekaligus bisa saya ingetin pakai Payment Link. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/aditya-farkhaan-daging-mania/">
                                                        <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-icon elementor-align-icon-right">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path
                                                                    d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round"
                                                                    stroke-linejoin="round"></path></svg> </span>
                                                        <span class="elementor-button-text">Baca Cerita Mereka</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-80778 post-80778 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories swiper-slide-duplicate swiper-slide-duplicate-prev" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="6 / 6" data-swiper-slide-index="5" style="width: 369.333px; margin-right: 16px;" aria-hidden="true" inert="">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Dheaneira</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                SALAKU </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Kalau dibandingkan dengan yang lain, QRIS KoinWorks uang yang masuk langsung terbaca, yang lain harus cek mutasi jadi agak lebih susah karena terpisah. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/dheaneira-mudahnya-pakai-koinworks-user-friendly/">
                                                        <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-icon elementor-align-icon-right">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path
                                                                    d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round"
                                                                    stroke-linejoin="round"></path></svg> </span>
                                                        <span class="elementor-button-text">Baca Cerita Mereka</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <style id="loop-113904">.elementor-113904 .elementor-element.elementor-element-0759cb1{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--gap:0px 0px;--flex-wrap:wrap;--background-transition:0.3s;--border-radius:8px 8px 8px 8px;box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.1);--padding-block-start:24px;--padding-block-end:24px;--padding-inline-start:24px;--padding-inline-end:24px;}.elementor-113904 .elementor-element.elementor-element-0759cb1:not(.elementor-motion-effects-element-type-background), .elementor-113904 .elementor-element.elementor-element-0759cb1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-16995d5 );}.elementor-113904 .elementor-element.elementor-element-0759cb1, .elementor-113904 .elementor-element.elementor-element-0759cb1::before{--border-transition:0.3s;}.elementor-113904 .elementor-element.elementor-element-f104acf{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:24px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-113904 .elementor-element.elementor-element-310b74f{text-align:left;}.elementor-113904 .elementor-element.elementor-element-310b74f img{width:39px;max-width:100%;}.elementor-113904 .elementor-element.elementor-element-310b74f > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-113904 .elementor-element.elementor-element-bf32da0{text-align:left;}.elementor-113904 .elementor-element.elementor-element-bf32da0 img{width:15px;max-width:100%;}.elementor-113904 .elementor-element.elementor-element-bf32da0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 8px 3px 8px;background-color:var( --e-global-color-723a750 );border-radius:100% 100% 100% 100%;}.elementor-113904 .elementor-element.elementor-element-4baefd6{text-align:left;}.elementor-113904 .elementor-element.elementor-element-4baefd6 .elementor-heading-title{color:var( --e-global-color-c33d4f7 );font-family:var( --e-global-typography-42aed8d-font-family ), Sans-serif;font-size:var( --e-global-typography-42aed8d-font-size );font-weight:var( --e-global-typography-42aed8d-font-weight );line-height:var( --e-global-typography-42aed8d-line-height );letter-spacing:var( --e-global-typography-42aed8d-letter-spacing );word-spacing:var( --e-global-typography-42aed8d-word-spacing );}.elementor-113904 .elementor-element.elementor-element-4baefd6 > .elementor-widget-container{margin:0px 0px 4px 0px;}.elementor-113904 .elementor-element.elementor-element-bcca07a{text-align:left;color:var( --e-global-color-c6fdd9d );font-family:var( --e-global-typography-a726770-font-family ), Sans-serif;font-size:var( --e-global-typography-a726770-font-size );font-weight:var( --e-global-typography-a726770-font-weight );line-height:var( --e-global-typography-a726770-line-height );letter-spacing:var( --e-global-typography-a726770-letter-spacing );word-spacing:var( --e-global-typography-a726770-word-spacing );}.elementor-113904 .elementor-element.elementor-element-bcca07a > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-113904 .elementor-element.elementor-element-5ffe7a6{text-align:left;color:var( --e-global-color-c33d4f7 );font-family:"Source Sans Pro", Sans-serif;font-size:16px;font-weight:400;line-height:24px;letter-spacing:0.16px;}.elementor-113904 .elementor-element.elementor-element-5ffe7a6 > .elementor-widget-container{margin:0px 0px 31px 0px;}.elementor-113904 .elementor-element.elementor-element-d98ed0f .elementor-button .elementor-align-icon-right{margin-left:10px;}.elementor-113904 .elementor-element.elementor-element-d98ed0f .elementor-button .elementor-align-icon-left{margin-right:10px;}.elementor-113904 .elementor-element.elementor-element-d98ed0f .elementor-button{font-family:var( --e-global-typography-c3cd472-font-family ), Sans-serif;font-size:var( --e-global-typography-c3cd472-font-size );font-weight:var( --e-global-typography-c3cd472-font-weight );line-height:var( --e-global-typography-c3cd472-line-height );letter-spacing:var( --e-global-typography-c3cd472-letter-spacing );word-spacing:var( --e-global-typography-c3cd472-word-spacing );fill:var( --e-global-color-ff80c2b );color:var( --e-global-color-ff80c2b );background-color:#02010100;border-radius:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:1025px){.elementor-113904 .elementor-element.elementor-element-4baefd6 .elementor-heading-title{font-size:var( --e-global-typography-42aed8d-font-size );line-height:var( --e-global-typography-42aed8d-line-height );letter-spacing:var( --e-global-typography-42aed8d-letter-spacing );word-spacing:var( --e-global-typography-42aed8d-word-spacing );}.elementor-113904 .elementor-element.elementor-element-bcca07a{font-size:var( --e-global-typography-a726770-font-size );line-height:var( --e-global-typography-a726770-line-height );letter-spacing:var( --e-global-typography-a726770-letter-spacing );word-spacing:var( --e-global-typography-a726770-word-spacing );}.elementor-113904 .elementor-element.elementor-element-5ffe7a6{font-size:16px;line-height:1.5em;letter-spacing:0.16px;}.elementor-113904 .elementor-element.elementor-element-d98ed0f .elementor-button{font-size:var( --e-global-typography-c3cd472-font-size );line-height:var( --e-global-typography-c3cd472-line-height );letter-spacing:var( --e-global-typography-c3cd472-letter-spacing );word-spacing:var( --e-global-typography-c3cd472-word-spacing );}}@media(max-width:767px){.elementor-113904 .elementor-element.elementor-element-0759cb1{--padding-block-start:16px;--padding-block-end:16px;--padding-inline-start:16px;--padding-inline-end:16px;}.elementor-113904 .elementor-element.elementor-element-4baefd6 .elementor-heading-title{font-size:var( --e-global-typography-42aed8d-font-size );line-height:var( --e-global-typography-42aed8d-line-height );letter-spacing:var( --e-global-typography-42aed8d-letter-spacing );word-spacing:var( --e-global-typography-42aed8d-word-spacing );}.elementor-113904 .elementor-element.elementor-element-bcca07a{font-size:var( --e-global-typography-a726770-font-size );line-height:var( --e-global-typography-a726770-line-height );letter-spacing:var( --e-global-typography-a726770-letter-spacing );word-spacing:var( --e-global-typography-a726770-word-spacing );}.elementor-113904 .elementor-element.elementor-element-5ffe7a6{font-size:14px;line-height:1.5em;letter-spacing:0.16px;}.elementor-113904 .elementor-element.elementor-element-d98ed0f .elementor-button{font-size:var( --e-global-typography-c3cd472-font-size );line-height:var( --e-global-typography-c3cd472-line-height );letter-spacing:var( --e-global-typography-c3cd472-letter-spacing );word-spacing:var( --e-global-typography-c3cd472-word-spacing );}}</style> <div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-90456 post-90456 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories swiper-slide-duplicate-active" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="1 / 6" data-swiper-slide-index="0" style="width: 369.333px; margin-right: 16px;" aria-hidden="true" inert="">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Ridwan Mualik</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Busana Kreasi Bangsa </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Pengajuan di KoinWorks cukup mudah untuk UMKM, semua persyaratan bisa dipenuhi dengan baik. Untuk Top Up meningkatkan pinjaman juga cepat. Jadi, KoinWorks lebih memudahkan, karena super app banget. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/ridwan-mualik/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-89374 post-89374 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories swiper-slide-duplicate-next" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="2 / 6" data-swiper-slide-index="1" style="width: 369.333px; margin-right: 16px;" aria-hidden="true" inert="">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Nienie Admajaya</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Finplan.id </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Hampir keseluruhan dari fitur KoinWorks NEO kita gunakan karena pembayaran kelas oleh konsumen kita bisa gunakan Payment Link, bagi karyawan atau kebutuhan lainnya kita bisa pakai Send Money, dan pengeluaran-pemasukan juga bisa direkap di Financial Overview. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/nienie-admajaya-finplan-id/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-89370 post-89370 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="3 / 6" data-swiper-slide-index="2" style="width: 369.333px; margin-right: 16px;" aria-hidden="true" inert="">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Evander Nathanael</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Oneness Group </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Untuk Invoice&nbsp;sendiri membantu saya, sangat mempersingkat kerja. Untuk fitur Send Money, bisa lebih dipercepat transaksinya karena saya membutuhkan untuk proses pembelian barang untuk lapangan. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/evander-nathanael-oneness-group/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-89366 post-89366 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="4 / 6" data-swiper-slide-index="3" style="width: 369.333px; margin-right: 16px;" aria-hidden="true" inert="">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">M. Ridha Indradewa</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Rewash </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Pasti saya akan merekomendasikan kepada kolega saya karena sangat membantu dan memudahkan operasional bisnis saya. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/m-ridha-indradewa-rewash/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-89358 post-89358 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="5 / 6" data-swiper-slide-index="4" style="width: 369.333px; margin-right: 16px;" aria-hidden="true" inert="">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Aditya Farkhaan</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Daging Mania </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Fitur Payment Link ini sudah sangat mengubah habit pembeli saya, karena saya enggak perlu ribet kasih tau berapa biayanya dan sekaligus bisa saya ingetin pakai Payment Link. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/aditya-farkhaan-daging-mania/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-80778 post-80778 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories swiper-slide-prev" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="6 / 6" data-swiper-slide-index="5" style="width: 369.333px; margin-right: 16px;" aria-hidden="true" inert="">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Dheaneira</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                SALAKU </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Kalau dibandingkan dengan yang lain, QRIS KoinWorks uang yang masuk langsung terbaca, yang lain harus cek mutasi jadi agak lebih susah karena terpisah. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/dheaneira-mudahnya-pakai-koinworks-user-friendly/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-90456 post-90456 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories swiper-slide-duplicate swiper-slide-active" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="1 / 6" data-swiper-slide-index="0" style="width: 369.333px; margin-right: 16px;">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Ridwan Mualik</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Busana Kreasi Bangsa </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Pengajuan di KoinWorks cukup mudah untuk UMKM, semua persyaratan bisa dipenuhi dengan baik. Untuk Top Up meningkatkan pinjaman juga cepat. Jadi, KoinWorks lebih memudahkan, karena super app banget. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/ridwan-mualik/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-89374 post-89374 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories swiper-slide-duplicate swiper-slide-next" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="2 / 6" data-swiper-slide-index="1" style="width: 369.333px; margin-right: 16px;">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Nienie Admajaya</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Finplan.id </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Hampir keseluruhan dari fitur KoinWorks NEO kita gunakan karena pembayaran kelas oleh konsumen kita bisa gunakan Payment Link, bagi karyawan atau kebutuhan lainnya kita bisa pakai Send Money, dan pengeluaran-pemasukan juga bisa direkap di Financial Overview. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/nienie-admajaya-finplan-id/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div data-elementor-type="loop-item" data-elementor-id="113904" class="elementor elementor-113904 swiper-slide e-loop-item e-loop-item-89370 post-89370 testimonial type-testimonial status-publish has-post-thumbnail hentry testimonial_category-borrower-stories swiper-slide-duplicate" data-elementor-post-type="elementor_library" role="group" aria-roledescription="slide" data-custom-edit-handle="1" aria-label="3 / 6" data-swiper-slide-index="2" style="width: 369.333px; margin-right: 16px;">
                                <div class="elementor-element elementor-element-0759cb1 e-flex e-con-boxed e-con e-parent" data-id="0759cb1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;container_type&quot;:&quot;flex&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
                                    <div class="e-con-inner">
                                        <div class="elementor-element elementor-element-f104acf e-con-full e-flex e-con e-parent" data-id="f104acf" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;container_type&quot;:&quot;flex&quot;}" data-core-v316-plus="true">
                                            <div class="elementor-element elementor-element-310b74f elementor-widget elementor-widget-image" data-id="310b74f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" class="attachment-full size-full wp-image-102562 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&amp;fit=39,17" loading="lazy" data-eio-rwidth="140" data-eio-rheight="60"><noscript><img decoding="async" width="140" height="60" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/02/neo-2-q14dzhvuog119sb1anoxgjm4ei2lh50er7c58pnnk0.png?strip=all&amp;lossy=1&amp;webp=82&amp;ssl=1&fit=140%2C60" class="attachment-full size-full wp-image-102562" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bf32da0 elementor-widget elementor-widget-image" data-id="bf32da0" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916 ls-is-cached lazyloaded" alt="" data-src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" data-eio-rwidth="24" data-eio-rheight="18"><noscript><img decoding="async" width="24" height="18" src="https://et2o98r3gkt.exactdn.com/wp-content/uploads/2023/07/Vector.svg" class="attachment-full size-full wp-image-113916" alt="" data-eio="l" /></noscript> </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4baefd6 elementor-widget elementor-widget-heading" data-id="4baefd6" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <span class="elementor-heading-title elementor-size-default">Evander Nathanael</span> </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bcca07a elementor-widget elementor-widget-text-editor" data-id="bcca07a" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Oneness Group </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5ffe7a6 elementor-widget elementor-widget-text-editor" data-id="5ffe7a6" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                Untuk Invoice&nbsp;sendiri membantu saya, sangat mempersingkat kerja. Untuk fitur Send Money, bisa lebih dipercepat transaksinya karena saya membutuhkan untuk proses pembelian barang untuk lapangan. </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d98ed0f kw-btn kw-btn--icon is-expanded elementor-widget elementor-widget-button" data-id="d98ed0f" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="https://koinworks.com/testimonial/evander-nathanael-oneness-group/">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none"><path d="M1 11.834L6.33333 6.50065L1 1.16732" stroke="#168694" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> </span>
<span class="elementor-button-text">Baca Cerita Mereka</span>
</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" data-bullet-index="0" aria-label="Go to slide 1" tabindex="0" aria-current="true"></span><span class="swiper-pagination-bullet" data-bullet-index="1" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" data-bullet-index="2" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" data-bullet-index="3" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" data-bullet-index="4" aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" data-bullet-index="5" aria-label="Go to slide 6"></span></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}